<div *ngIf="userRole === '1'; else noAccessPage">
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="homepage" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0">
          <!-- <i class="fa fa-book me-3"></i> -->
          <mat-icon>library_books</mat-icon>
          eLEARNING</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a class="nav-item nav-link" href="adminpage">Home</a>
            <!-- <a class="nav-item nav-link">About</a> -->
            <!-- <a class="nav-item nav-link active" href="adminpage">Courses</a> -->
            <!-- <a href="contact.html" class="nav-item nav-link">Contact</a> -->
        </div>
        <a (click)="logout()" class="btn py-4 px-lg-5 d-lg-block" style="background: #11101D; color: #ddd;">Log Out<i
                class="fa fa-arrow-right ms-3"></i></a>
    </div>
</nav>
<!-- Navbar End -->

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Manage Course</h6>
        </div>
        
        <!-- <div class="text-center mb-4">
            <label for="optionSelect" class="form-label">Choose an action:</label>
            <select id="optionSelect" class="form-select" onchange="toggleForms()">
                <option value="editCourse">Edit Course Details</option>
                <option value="editModule">Edit Module Details</option>
            </select>
        </div>
        
        <div class="formbold-main-wrapper">
            <div class="formbold-form-wrapper">
                
                <div id="editCourseForm">
                    <h5>Edit Course Details</h5>
                    <form (ngSubmit)="saveChanges(form)" #form="ngForm">
                        <div class="mb-3">
                          <label class="form-label">Course Name</label>
                          <input [(ngModel)]="courseName" name="courseName" class="form-control" placeholder="Enter course name" />
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Course Description</label>
                          <textarea [(ngModel)]="courseDescription" name="courseDescription" class="form-control" placeholder="Enter course description"></textarea>
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Upload Course Image</label>
                          <input [(ngModel)]="imagePath" name="imagePath" type="file" class="form-control" (change)="onFileSelect($event)" accept="image/*" />
                        </div>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                      </form>
                      
                </div>                

                <div id="moduleActionForm" style="display: none;">
                    <h5>What would you like to do?</h5>
                    <div class="text-center">
                        <button class="btn btn-primary" style="margin-right: 5vh;" onclick="showModuleForm('add')">Add Module</button>
                        <button class="btn btn-primary" onclick="showModuleForm('edit')">Edit Module</button>
                    </div>
                </div>

                <div id="addModuleForm" style="display: none;">
                    <h5>Add Module</h5>                    

                    <form [formGroup]="moduleForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="moduleName">Module Name</label>
                            <input id="moduleName" formControlName="moduleName" class="form-control" type="text" />
                            <div *ngIf="moduleForm.get('moduleName')?.invalid && moduleForm.get('moduleName')?.touched" class="text-danger">
                                Module name is required
                            </div>
                        </div>
                    
                        <div formArrayName="topics">
                            <div *ngFor="let topic of topics.controls; let i = index" [formGroupName]="i" class="topic-group">
                                <h5 style="margin-top: 2vh;">Topic {{ i + 1 }}</h5>
                                <div class="form-group" style="margin-top: 3vh;">
                                    <label for="topicName">Topic Name</label>
                                    <input id="topicName" formControlName="topicName" class="form-control" type="text" />
                                </div>
                                <div class="form-group" style="margin-top: 3vh;">
                                    <label for="topicDescription">Topic Description</label>
                                    <input id="topicDescription" formControlName="topicDescription" class="form-control" type="text" />
                                </div>
                                <div class="form-group" style="margin-top: 3vh;">
                                    <label for="tImagePath">Topic Image</label>
                                    <input type="file" (change)="onImageSelected($event, i)" class="form-control" />
                                </div>
                                <button type="button" (click)="removeTopic(i)" class="btn btn-danger" style="margin-top: 3vh;">Remove Topic</button>
                            </div>
                        </div>                                        
                    
                        <div formArrayName="questions">
                            <div *ngIf="questions.controls.length === 0" class="text-danger">
                                At least one question must be added.
                            </div>

                            <div *ngFor="let question of questions.controls; let i = index" [formGroupName]="i" class="question-group">
                                <h5 style="margin-top: 2vh;">Question {{ i + 1 }}</h5>
                                <div class="form-group" style="margin-top: 3vh;">
                                    <label for="questionText">Question</label>
                                    <input id="questionText" formControlName="questionText" class="form-control" type="text" />
                                </div>
                                <div class="form-group" style="margin-top: 3vh;">
                                    <label for="optionA">Option A</label>
                                    <input id="optionA" formControlName="optionA" class="form-control" type="text" />
                                </div>
                                <div class="form-group" style="margin-top: 3vh;">
                                    <label for="optionB">Option B</label>
                                    <input id="optionB" formControlName="optionB" class="form-control" type="text" />
                                </div>
                                <div class="form-group" style="margin-top: 3vh;">
                                    <label for="optionC">Option C</label>
                                    <input id="optionC" formControlName="optionC" class="form-control" type="text" />
                                </div>
                                <div class="form-group" style="margin-top: 3vh;">
                                    <label for="optionD">Option D</label>
                                    <input id="optionD" formControlName="optionD" class="form-control" type="text" />
                                </div>
                                <div class="form-group" style="margin-top: 3vh;">
                                    <label for="correctOption">Correct Option</label>
                                    <input id="correctOption" formControlName="correctOption" class="form-control" type="text" />                                    
                                </div>
                                <button type="button" (click)="removeQuestion(i)" class="btn btn-danger" style="margin-top: 3vh;">Remove Question</button>
                            </div>
                        </div>

                        <button type="button" (click)="addTopic()" class="btn btn-primary" style="margin-right: 5vh; margin-top: 3vh;">Add Topic</button>
                    
                        <button type="button" (click)="addQuestion()" class="btn btn-primary" style="margin-right: 5vh; margin-top: 3vh;">Add Question</button>
                    
                        <button type="submit" [disabled]="moduleForm.invalid" class="btn btn-primary" style="margin-top: 3vh;">Submit</button>
                    </form>
                    
                </div>

                <div id="editModuleForm" style="display: none;">
                    <h5>Edit Module Details</h5>                    
                    <form (ngSubmit)="onSubmitM(form)" #form="ngForm">
                        <div class="mb-3">
                            <label class="form-label">Select Module</label>
                            <select name="selectedModuleId" class="form-control" (change)="onModuleSelect($event)">
                                <option *ngFor="let module of modules" [value]="module.id">{{ module.module_Name }}</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Updated Module Name</label>
                            <input name="moduleName" type="text" class="form-control" [(ngModel)]="moduleName" placeholder="Enter module name">
                        </div>                        
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                        <button type="button" class="btn btn-danger" (click)="confirmDelete()">Delete Module</button>
                    </form>    
                    
                    <div *ngIf="showConfirmDeletePopup" class="modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Confirm Deletion</h5>
                                    <button type="button" class="close" (click)="closeConfirmDeletePopup()">
                                        <span>&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete the module "{{ moduleName }}"?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" (click)="closeConfirmDeletePopup()">Cancel</button>
                                    <button type="button" class="btn btn-danger" (click)="deleteModule()">Yes, Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div> -->
        
        <div class="text-center mb-4">
            <label for="optionSelect" class="form-label"><b>Choose an action:</b></label>
            <select id="optionSelect" class="form-select" onchange="toggleForms()">
                <option value="editCourse">Edit Course Details</option>
                <option value="editModule">Edit Module Details</option>
                <option value="editTopic">Edit Topic Details</option>
            </select>
        </div> 
        
        <div class="formbold-main-wrapper">
            <div class="formbold-form-wrapper">
                
                <!-- Edit Course Details Form -->
                <div id="editCourseForm">
                    <h5>Edit Course Details</h5>
                    <form (ngSubmit)="saveChanges(form)" #form="ngForm">
                        <div class="mb-3">
                            <label class="form-label">Course Name</label>
                            <input [(ngModel)]="courseName" name="courseName" class="form-control" placeholder="Enter course name" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Course Description</label>
                            <textarea [(ngModel)]="courseDescription" name="courseDescription" class="form-control" placeholder="Enter course description"></textarea>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Upload Course Image</label>
                            <input [(ngModel)]="imagePath" name="imagePath" type="file" class="form-control" (change)="onFileSelect($event)" accept="image/*" />
                        </div>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </form>
                </div>                                
        
                <!-- Module Action Selection -->
                <div id="moduleActionForm" style="display: none;">
                    <h5>What would you like to do?</h5>
                    <div class="text-center">
                        <button class="btn btn-primary" style="margin-right: 5vh;" onclick="showModuleForm('add')">Add Module</button>
                        <button class="btn btn-primary" onclick="showModuleForm('edit')">Edit Module</button>
                    </div>
                </div>

                <div id="addModuleForm" style="display: none;">
                    <h5>Add Module</h5>                    

                    <form [formGroup]="moduleForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="moduleName">Module Name</label>
                            <input id="moduleName" formControlName="moduleName" class="form-control" type="text" />
                            <div *ngIf="moduleForm.get('moduleName')?.invalid && moduleForm.get('moduleName')?.touched" class="text-danger">
                                Module name is required
                            </div>
                        </div>
                    
                        <div formArrayName="topics">
                            <div *ngFor="let topic of topics.controls; let i = index" [formGroupName]="i" class="topic-group">
                                <h5 style="margin-top: 2vh;">Topic {{ i + 1 }}</h5>
                                <div class="form-group" style="margin-top: 3vh;">
                                    <label for="topicName">Topic Name</label>
                                    <input id="topicName" formControlName="topicName" class="form-control" type="text" />
                                </div>
                                <div class="form-group" style="margin-top: 3vh;">
                                    <label for="topicDescription">Topic Description</label>
                                    <input id="topicDescription" formControlName="topicDescription" class="form-control" type="text" />
                                </div>
                                <div class="form-group" style="margin-top: 3vh;">
                                    <label for="tImagePath">Topic Image</label>
                                    <input type="file" (change)="onImageSelected($event, i)" class="form-control" />
                                </div>
                                <button type="button" (click)="removeTopic(i)" class="btn btn-danger" style="margin-top: 3vh;">Remove Topic</button>
                            </div>
                        </div>                                        
                    
                        <div formArrayName="questions">
                            <div *ngIf="questions.controls.length === 0" class="text-danger">
                                At least one question must be added.
                            </div>

                            <div *ngFor="let question of questions.controls; let i = index" [formGroupName]="i" class="question-group">
                                <h5 style="margin-top: 2vh;">Question {{ i + 1 }}</h5>
                                <div class="form-group" style="margin-top: 3vh;">
                                    <label for="questionText">Question</label>
                                    <input id="questionText" formControlName="questionText" class="form-control" type="text" />
                                </div>
                                <div class="form-group" style="margin-top: 3vh;">
                                    <label for="optionA">Option A</label>
                                    <input id="optionA" formControlName="optionA" class="form-control" type="text" />
                                </div>
                                <div class="form-group" style="margin-top: 3vh;">
                                    <label for="optionB">Option B</label>
                                    <input id="optionB" formControlName="optionB" class="form-control" type="text" />
                                </div>
                                <div class="form-group" style="margin-top: 3vh;">
                                    <label for="optionC">Option C</label>
                                    <input id="optionC" formControlName="optionC" class="form-control" type="text" />
                                </div>
                                <div class="form-group" style="margin-top: 3vh;">
                                    <label for="optionD">Option D</label>
                                    <input id="optionD" formControlName="optionD" class="form-control" type="text" />
                                </div>
                                <div class="form-group" style="margin-top: 3vh;">
                                    <label for="correctOption">Correct Option</label>
                                    <input id="correctOption" formControlName="correctOption" class="form-control" type="text" />                                    
                                </div>
                                <button type="button" (click)="removeQuestion(i)" class="btn btn-danger" style="margin-top: 3vh;">Remove Question</button>
                            </div>
                        </div>

                        <button type="button" (click)="addTopic()" class="btn btn-primary" style="margin-right: 5vh; margin-top: 3vh;">Add Topic</button>
                    
                        <button type="button" (click)="addQuestion()" class="btn btn-primary" style="margin-right: 5vh; margin-top: 3vh;">Add Question</button>
                    
                        <button type="submit" [disabled]="moduleForm.invalid" class="btn btn-primary" style="margin-top: 3vh;">Submit</button>
                    </form>
                    
                </div>

                <div id="editModuleForm" style="display: none;"> 
                    <h5>Edit Module Details</h5>                    
                    <form (ngSubmit)="onSubmitM(form)" #form="ngForm">
                        <div class="mb-3">
                            <label class="form-label">Select Module</label>
                            <select name="selectedModuleId" class="form-control" (change)="onModuleSelect($event)">
                                <option *ngFor="let module of modules" [value]="module.id">{{ module.module_Name }}</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Updated Module Name</label>
                            <input name="moduleName" type="text" class="form-control" [(ngModel)]="moduleName" placeholder="Enter module name">
                        </div>                        
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                        <button type="button" class="btn btn-danger" (click)="confirmDelete()" style="margin-left: 3vh;">Delete Module</button>
                    </form>    
                    
                    <div *ngIf="showConfirmDeletePopup" class="modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Confirm Deletion</h5>
                                    <button type="button" class="close" (click)="closeConfirmDeletePopup()">
                                        <span>&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete the module "{{ moduleName }}"?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" (click)="closeConfirmDeletePopup()">Cancel</button>
                                    <button type="button" class="btn btn-danger" (click)="deleteModule()">Yes, Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <!-- Edit Topic Action Selection -->
                <div id="topicActionForm" style="display: none;">
                    <h5>What would you like to do?</h5>
                    <div class="text-center">
                        <button class="btn btn-primary" style="margin-right: 5vh;" onclick="showTopicForm('add')">Add Topic</button>
                        <button class="btn btn-primary" onclick="showTopicForm('edit')">Edit Topic</button>
                    </div>
                </div>
        
                <!-- Add Topic Form -->
                <div id="addTopicForm" style="display: none;">
                    <h5>Add Topic</h5>                                        

                    <form [formGroup]="topicForm" (ngSubmit)="onSubmitT()">
                        <div class="mb-3">
                            <label class="form-label">Select Module</label>
                            <select formControlName="selectedModuleId" class="form-control" (change)="onModuleSelectT($event)">
                                <option *ngFor="let module of modules" [value]="module.id">{{ module.module_Name }}</option>
                            </select>
                        </div>

                        <div class="mb-3"> 
                            <label for="topicName">Topic Name</label>
                            <input id="topicName" formControlName="topicName" class="form-control" required />
                        </div>

                        <div class="mb-3">
                            <label for="topicDescription">Topic Description</label>
                            <input id="topicDescription" formControlName="topicDescription" class="form-control" required />
                        </div>

                        <div class="mb-3">
                            <label for="topicImage">Topic Image</label>
                            <input type="file" class="form-control" (change)="onFileSelectT($event)" #fileInput />
                        </div>

                        <button type="submit" class="btn btn-primary" [disabled]="!topicForm.valid">Submit</button>
                    </form>
                      
                </div>
        
                <!-- Edit Topic Form -->
                <div id="editTopicForm" style="display: none;">
                    <h5>Edit Topic</h5>                    
                    <form [formGroup]="editTopicForm" (ngSubmit)="onSubmitET()">

                        <div class="mb-3">
                            <label class="form-label">Select Module</label>
                            <select formControlName="selectedModuleId" class="form-control" (change)="onModuleSelectT2($event)">
                                <option *ngFor="let module of modules" [value]="module.id">{{ module.module_Name }}</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Select Topic</label>
                            <select name="selectedTopicId" class="form-control" (change)="onTopicSelect($event)">
                                <option *ngFor="let topic of topics2" [value]="topic.id">{{ topic.topic_Name }}</option>
                            </select>
                        </div>
                        
                        <div class="mb-3">
                            <label class="form-label">Updated Topic Name</label>
                            <input formControlName="topicName" type="text" class="form-control" placeholder="Enter topic name">
                        </div>                        
                        <div class="mb-3">
                            <label class="form-label">Updated Topic Description</label>
                            <textarea formControlName="topicDescription" class="form-control" placeholder="Enter topic description"></textarea>
                        </div>                        
                        <div class="mb-3">
                            <label class="form-label">Upload New Image</label>
                            <input type="file" class="form-control" (change)="onFileChange($event)" #fileInput/>
                        </div>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                        <button type="button" class="btn btn-danger" style="margin-left: 3vh;" (click)="confirmDelete()">Delete Topic</button>
                    </form>    
                    
                    <!-- Confirmation Modal -->
                    <div *ngIf="showConfirmDeletePopup" class="modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Confirm Deletion</h5>
                                    <button type="button" class="close" (click)="closeConfirmDeletePopup()">
                                        <span>&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete the topic "{{ selectedTopicName }}"?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" (click)="closeConfirmDeletePopup()">Cancel</button>
                                    <button type="button" class="btn btn-danger" (click)="deleteTopic()">Yes, Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
            </div>
        </div>        
    
    </div>
</div>
</div>

<ng-template #noAccessPage>
    <div class="container text-center py-5">
      <h1 class="text-danger">Access Denied</h1>
      <p class="lead">You do not have permission to view this page.</p>
      <a class="btn btn-primary" routerLink="/homepage">Go to Homepage</a>
    </div>
</ng-template>