/* .modal-open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;    
} */

/* Ensure the modal backdrop is visible and covers the entire screen */
.modal-backdrop {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1040; /* Ensure it's on top of other elements */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Ensure the modal content is centered and properly displayed */
  .modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the modal */
    max-height: 80vh;
    overflow-y: auto;
    z-index: 1050; /* Higher z-index to ensure it's on top of the backdrop */
    width: 80%;
    background-color: #fff;
    border-radius: 10px;
  }
  
  /* Optionally, you can add a close button style for the modal */
  .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
  }
  