<!-- <div class="container py-5">
    <div class="card">
        <div class="card-body">
            <h1>{{ course?.courseName }}</h1>
            <p>{{ course?.courseDescription }}</p>
            <img *ngIf="course?.imagePath" [src]="course.imagePath" alt="Course Image" class="course-image img-fluid mb-3" />
            <div *ngIf="course?.filePath">
                <p>Course File:</p>
                <a [href]="course.filePath" target="_blank" class="btn btn-primary">Download File</a>
            </div>
        </div>
    </div>
</div> 
 -->

 <!-- <mat-toolbar color="primary" class="toolbar">    
    <h2 class="m-0 align-items-center px-4 px-lg-5">
      <i (click)="drawer.toggle()" class="fa fa-bars me-3" style="cursor: pointer;"></i>eLEARNING
    </h2>
  </mat-toolbar> -->
  <!-- Navbar Start -->
<nav
class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
<a class="navbar-brand d-flex align-items-center px-4 px-lg-5">
  <h2 class="m-0"><i class="fa fa-solid fa-bars" (click)="drawer.toggle()"
      style="cursor: pointer; font-size: 30px;"></i> eLEARNING</h2>
</a>  
</nav>
<!-- Navbar End -->

  <mat-sidenav-container class="example-container">
    <mat-sidenav #drawer mode="side" opened>    
      <div class="sidebar open">      
        <ul class="nav-list">
  
          <!-----------Chapter 1--------------------------------------------->
  
          <li *ngFor="let module of modules">
            <a (click)="getTopics(module.id)" [ngClass]="{'active': currentModuleId === module.id}">
              <i class="bx bx-task"></i>
              <span class="links_name2">{{ module.module_Name }}</span>            
              <i class="bx"
              [ngClass]="{
                'bx-chevron-down': !showTopics[module.id],
                'bx-chevron-up': showTopics[module.id]
              }"
              style="padding-left: 5vh; padding-right: 1vh; cursor: pointer;"></i>
            </a>
            <span class="tooltip">{{ module.module_Name }}</span>
            <ul *ngIf="showTopics[module.id]">
              <li *ngFor="let topic of topics">
                <a (click)="viewTopicDetails(topic.id)" [ngClass]="{'active': selectedTopic?.id === topic.id}">
                  <i class='bx bx-task'></i>
                  <span class="links_name2">{{ topic.topic_Name }}</span>
                </a>
              </li>                            
            </ul>
            <li class="profile">
              <div class="profile-details">
                <i class='bx bxs-user-circle' style="font-size: 40px;"></i>            
                <div class="name_job">
                  <div class="name">{{fullName}}</div>
                  <div class="job">{{email}}</div>
                </div>
              </div>
              <i class='bx bx-log-out' id="log_out" (click)="logout()" style="cursor: pointer;"></i>
            
          </li>
          </ul>
        </div>
        </mat-sidenav>
        <mat-sidenav-content>          

          <ng-container *ngIf="!isTestPage; else testPageTemplate">
          <!-- <div class="container-xxl py-5" *ngIf="selectedTopic">
            <div class="container">
                <div class="row g-5">
                    <div class="col-lg-6 order-lg-2 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                        <div class="position-relative h-100">                            
                            <img *ngIf="selectedTopic?.imagePath" 
                              [src]="selectedTopic.imagePath" 
                              class="img-fluid position-absolute w-100 h-100" 
                              alt="Topic Image" 
                              style="object-fit: cover;">
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">     
                        <h6 class="section-title bg-white text-start text-primary pe-3">{{ course?.courseName }}</h6>           
                        <h1 class="mb-4">{{ selectedTopic.topic_Name }}</h1>                        
                        <div class="row gy-2 gx-4 mb-4">
                            <div class="col-m-6">
                                <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>
                                  {{ selectedTopic.topic_Description }}                                  
                                </p>
                            </div>                            
                        </div>                        
                        <a *ngIf="!isLastTopic()" class="btn btn-primary py-3 px-5 mt-2" (click)="goToNextTopic()">Next</a>                        
                        <a
                        *ngIf="isLastTopic()"
                        class="btn btn-primary py-3 px-5 mt-2"
                        (click)="currentModuleId ? goToTest(currentModuleId) : null">
                        Take the Test
                      </a>
                      
                    </div>
                </div>
            </div>
        </div> -->

        <div class="container-xxl py-5" *ngIf="selectedTopic">
          <div class="container">
            <div class="row g-5">
            
              <!-- Image Column (For Topics With Image) -->
              <div *ngIf="selectedTopic?.imagePath && selectedTopic.topic_Description?.length >= 50; else noImage" class="col-lg-6 order-lg-2 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                  <img [src]="selectedTopic.imagePath" class="img-fluid position-absolute w-100 h-100" alt="Topic Image" style="object-fit: cover;">
                </div>
              </div>
        
              <!-- No Image Version -->
              <ng-template #noImage>
                <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.3s" style="height: 100vh;">
                  <h6 class="section-title bg-white text-start text-primary pe-3">{{ course?.courseName }}</h6>
                  <h1 class="mb-4">{{ selectedTopic.topic_Name }}</h1>
                  <div class="row gy-2 gx-4 mb-4">
                    <div class="col-m-6">
                      <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>
                        {{ selectedTopic.topic_Description }}                                  
                      </p>
                    </div>                            
                  </div>
                  <!-- Adjusted Button Placement -->
                  <a *ngIf="!isLastTopic()" class="btn btn-primary py-3 px-5 mt-2" (click)="goToNextTopic()">Next</a>
                  <a *ngIf="isLastTopic()" class="btn btn-primary py-3 px-5 mt-2" (click)="currentModuleId ? goToTest(currentModuleId) : null">Take the Test</a>
                </div>
              </ng-template>
        
              <!-- Regular Version With Image -->
              <div *ngIf="selectedTopic?.imagePath && selectedTopic.topic_Description?.length >= 50" class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">{{ course?.courseName }}</h6>
                <h1 class="mb-4">{{ selectedTopic.topic_Name }}</h1>                        
                <div class="row gy-2 gx-4 mb-4">
                  <div class="col-m-6">
                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>
                      {{ selectedTopic.topic_Description }}                                  
                    </p>
                  </div>                            
                </div>
        
                <!-- Adjusted Button Placement -->
                <a *ngIf="!isLastTopic()" class="btn btn-primary py-3 px-5 mt-2" (click)="goToNextTopic()">Next</a>
                <a *ngIf="isLastTopic()" class="btn btn-primary py-3 px-5 mt-2" (click)="currentModuleId ? goToTest(currentModuleId) : null">Take the Test</a>
              </div>
        
              <!-- Image Below the Description for Short Descriptions (Above Button) -->
              <div *ngIf="selectedTopic?.imagePath && selectedTopic.topic_Description?.length < 50" class="col-lg-12 mt-4 d-flex justify-content-center">
                <img [src]="selectedTopic.imagePath" class="img-fluid" alt="Topic Image" style="max-height: 400px; object-fit: cover;">
              </div>
              
            </div>
          </div>
        </div>
        
        
        
      
          <router-outlet></router-outlet>
        </ng-container>

        <ng-template #testPageTemplate>
          <div class="container-xxl py-5">
            <div class="container">
              <div class="row g-5">
                <div class="wow fadeInUp" data-wow-delay="0.3s">
                  <h6 class="section-title bg-white text-start text-primary pe-3" style="font-size: larger;">
                    Test On {{ currentModule?.module_Name }}
                  </h6>
                  <br /><br />
                  <div *ngIf="questions.length > 0">
                    <form (ngSubmit)="submitAnswers()">
                      <ol>
                        <li *ngFor="let question of questions; let i = index">
                          <div class="question-container">
                            <!-- Display question text -->
                            <p>{{ question.questionText }}</p>
        
                            <!-- Display options dynamically -->
                            <div
                              class="option-box"
                              *ngIf="question.optionA"
                              [ngClass]="{ 
                                'correct': answersCorrectness[i] && selectedOptions[i] === question.optionA,
                                'incorrect': !answersCorrectness[i] && selectedOptions[i] === question.optionA
                               }"
                              (click)="selectOption(i, question.optionA)"
                            > <!--'selected-option': selectedOptions[i] === question.optionA,-->
                              <input
                                type="radio"
                                name="q{{ i }}"
                                [(ngModel)]="selectedOptions[i]"
                                [value]="question.optionA"
                                id="q{{ i }}a"
                                [disabled]="isSubmitted"
                              />
                              <label for="q{{ i }}a">{{ question.optionA }}</label>
                              <span *ngIf="isSubmitted && selectedOptions[i] === question.optionA">
                                <i *ngIf="answersCorrectness[i]" class="correct-icon">✔</i>
                                <i *ngIf="!answersCorrectness[i]" class="incorrect-icon">✘</i>
                              </span>
                            </div>
        
                            <div
                              class="option-box"
                              *ngIf="question.optionB"
                              [ngClass]="{ 
                                'correct': answersCorrectness[i] && selectedOptions[i] === question.optionB,
                                'incorrect': !answersCorrectness[i] && selectedOptions[i] === question.optionB
                               }"
                              (click)="selectOption(i, question.optionB)"
                            > <!--'selected-option': selectedOptions[i] === question.optionB,-->
                              <input
                                type="radio"
                                name="q{{ i }}"
                                [(ngModel)]="selectedOptions[i]"
                                [value]="question.optionB"
                                id="q{{ i }}b"
                                [disabled]="isSubmitted"
                              />
                              <label for="q{{ i }}b">{{ question.optionB }}</label>
                              <span *ngIf="isSubmitted && selectedOptions[i] === question.optionB">
                                <i *ngIf="answersCorrectness[i]" class="correct-icon">✔</i>
                                <i *ngIf="!answersCorrectness[i]" class="incorrect-icon">✘</i>
                              </span>
                            </div>
        
                            <div
                              class="option-box"
                              *ngIf="question.optionC"
                              [ngClass]="{ 
                                'correct': answersCorrectness[i] && selectedOptions[i] === question.optionC,
                                'incorrect': !answersCorrectness[i] && selectedOptions[i] === question.optionC
                               }"
                              (click)="selectOption(i, question.optionC)"
                            > <!--'selected-option': selectedOptions[i] === question.optionC,-->
                              <input
                                type="radio"
                                name="q{{ i }}"
                                [(ngModel)]="selectedOptions[i]"
                                [value]="question.optionC"
                                id="q{{ i }}c"
                                [disabled]="isSubmitted"
                              />
                              <label for="q{{ i }}c">{{ question.optionC }}</label>
                              <span *ngIf="isSubmitted && selectedOptions[i] === question.optionC">
                                <i *ngIf="answersCorrectness[i]" class="correct-icon">✔</i>
                                <i *ngIf="!answersCorrectness[i]" class="incorrect-icon">✘</i>
                              </span>
                            </div>
        
                            <div
                              class="option-box"
                              *ngIf="question.optionD"
                              [ngClass]="{ 
                                'correct': answersCorrectness[i] && selectedOptions[i] === question.optionD,
                                'incorrect': !answersCorrectness[i] && selectedOptions[i] === question.optionD
                               }"
                              (click)="selectOption(i, question.optionD)"
                            > <!--'selected-option': selectedOptions[i] === question.optionD,-->
                              <input
                                type="radio"
                                name="q{{ i }}"
                                [(ngModel)]="selectedOptions[i]"
                                [value]="question.optionD"
                                id="q{{ i }}d"
                                [disabled]="isSubmitted"
                              />
                              <label for="q{{ i }}d">{{ question.optionD }}</label>
                              <span *ngIf="isSubmitted && selectedOptions[i] === question.optionD">
                                <i *ngIf="answersCorrectness[i]" class="correct-icon">✔</i>
                                <i *ngIf="!answersCorrectness[i]" class="incorrect-icon">✘</i>
                              </span>
                            </div>
                          </div>
                          <br />
                        </li>
                      </ol>
        
                      <!-- Submit button -->
                      <button type="submit" [disabled]="isSubmitted">Submit Answers</button>
                    </form>
        
                  </div>
        
                </div>
              </div>
            </div>
          </div>
        </ng-template>
                       
        </mat-sidenav-content>
        </mat-sidenav-container>

  <!-- <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer mode="side" opened style="width: 320px;">
      <div class="sidebar">
        <ul class="nav-links">
          <li *ngFor="let module of modules">
            <div class="iocn-link">
              <a href="#">
                <i class='bx bx-collection'></i>
                <span class="link_name module-name">{{ module.module_Name }}</span>
              </a>
              <i
                class='bx bxs-chevron-down arrow'
                (click)="toggleDropdown()"
                style="cursor: pointer;"
              ></i>
            </div>
            <ul class="sub-menu" *ngIf="isDropdownOpen">
              <li><a class="link_name" href="#">{{ module.module_Name }}</a></li>
              <li><a href="#">HTML & CSS</a></li>
              <li><a href="#">JavaScript</a></li>
              <li><a href="#">PHP & MySQL</a></li>
            </ul>
          </li>         
          
          <li>
            <div class="profile-details">
              <div class="profile-content">
                <img src="image/profile.jpg" alt="profileImg">
              </div>
              <div class="name-job">
                <div class="profile_name">Prem Shahi</div>
                <div class="job">Web Designer</div>
              </div>
              <i class='bx bx-log-out'></i>
            </div>
          </li>
        </ul>        
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
        

        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
            <h6 class="section-title bg-white text-start text-primary pe-3">{{ course?.courseName }}</h6>
            <h1 class="mb-4">Information Security</h1>
            
            <div class="row gy-2 gx-4 mb-4">
                <div class="col-m-6">
                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>“Information Security”</b> is a broad term that covers protection of data and the systems that contain it, from the storage location through all connections to it.</p>
                </div>
                <div class="col-m-6">
                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>It includes the users who view, handle, and transmit it, and the devices they use to do so.</p>
                </div>
                <div class="col-m-6">
                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>The first step to developing a comprehensive information security plan and a culture of cyber-security is to recognize the need to have such a plan.</p>
                </div>                    
            </div>
            <a class="btn btn-primary py-3 px-5 mt-2" [routerLink]="['../cia-triad']">Next</a>
        </div>
      </mat-sidenav-content>
      
  </mat-sidenav-container> -->
  
<!-- <form>
                      <ol>
                        
                        <li *ngFor="let question of questions; let i = index">
                      <div  class="question-container">
                        <p>{{ question.questionText }}</p>
                        
                        <div *ngIf="question.optionA">
                          <input type="radio" name="q{{i}}" [value]="'A'" id="q{{i}}a" style="margin-right: 3vh;">
                          <label for="q{{i}}a">{{ question.optionA }}</label>
                        </div>
                        
                        <div *ngIf="question.optionB">
                          <input type="radio" name="q{{i}}" [value]="'B'" id="q{{i}}b" style="margin-right: 3vh;">
                          <label for="q{{i}}b">{{ question.optionB }}</label>
                        </div>
                        
                        <div *ngIf="question.optionC">
                          <input type="radio" name="q{{i}}" [value]="'C'" id="q{{i}}c" style="margin-right: 3vh;">
                          <label for="q{{i}}c">{{ question.optionC }}</label>
                        </div>
                        
                        <div *ngIf="question.optionD">
                          <input type="radio" name="q{{i}}" [value]="'D'" id="q{{i}}d" style="margin-right: 3vh;">
                          <label for="q{{i}}d">{{ question.optionD }}</label>
                        </div>
                      </div><br>
                      </li>
                      </ol>
                      
                      <button type="submit">Submit Answers</button>
                    </form> -->
        
        <!-- <ng-template #testPageTemplate>
          <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5">                    
                    <div class="wow fadeInUp" data-wow-delay="0.3s">
                        <h6 class="section-title bg-white text-start text-primary pe-3" style="font-size: larger;">Test On Attack Surfaces & It's Types</h6><br><br>
                        <form>
                            <ol>                                                                
                                <li>
                                    <p>Digital attack surfaces do NOT include:</p>
                                    <input type="radio" id="q10a" name="q10" value="a" style="margin-right: 3vh;">
                                    <label for="q10a">Poorly maintained software</label><br>
                                    <input type="radio" id="q10b" name="q10" value="b" style="margin-right: 3vh;">
                                    <label for="q10b">Websites</label><br>
        
                                    <input type="radio" id="q10c" name="q10" value="c" style="margin-right: 3vh;">
                                    <label for="q10c">Properly discarded hardware</label><br>
        
                                    <input type="radio" id="q10d" name="q10" value="d" style="margin-right: 3vh;">
                                    <label for="q10d">Exposed application programming interfaces</label><br>
        
                                    <input type="radio" id="q10e" name="q10" value="e" style="margin-right: 3vh;">
                                    <label for="q10e">Vulnerabilities left by weak passwords</label><br>
                                </li>
                            </ol>
                            <button type="submit" >Submit Answers</button>
                        </form>
                    </div>                    
                </div>
            </div>
        </div>
        </ng-template> -->

